
.property{
	position: relative;
	align-items: center;
	padding-top: 180px;
	width: 30%;
	height: 15%;
	z-index: 15;
	top: 30%;
	left: 45%;
	margin: -100px 0 0 -150px;
	font-size: 15px;
	margin-bottom: 200px;
	

}
.property1{
	position: relative;
	align-items: center;
	width: 30%;
	height: 20%;
	z-index: 15;
	top: 10%;
	left: 45%;
	margin: -100px 0 0 -150px;
	font-size: 15px;
	margin-bottom: 200px;
	
}
img{
	margin-top: 20px;
	width: 90%;
	height: 200px;

}
